body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 5px;
}
button {
  padding: 5px 20px;
  background-color: #337ab7;
  color: #fdffff;
  border-style: none;
  margin-left: 5px;
}
h1 {
  padding-left: 15px;
}
p {
  padding-left: 15px;
}
input {
  margin-left: 15px;
  height: 20px;
  background-color: white;
  border: none;
}
